@model Mid_Project.Models.Passenger
@using (Html.BeginForm("SignUp", "User", FormMethod.Post, new { @class = "container mt-5" }))
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <title>Sign Up</title>
        <style>
            body {
                background-color: #31273A;
            }

            .card {
                background-color: #ffffff;
                border: 1px solid #d1d1d1;
            }

            .btn-primary {
                background-color: #31273A;
                border-color: #31273A;
            }

            .btn-link {
                color: #31273A;
            }

        </style>
    </head>
    <body>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Sign Up</h2>
                        <form class="form">
                            <div class="form-group">
                                <label for="Name">Name</label>
                                @Html.TextBox("Name", null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="Password">Password</label>
                                @Html.TextBox("Password", null, new { @class = "form-control", @Type = "password" })
                                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="Email">Email</label>
                                @Html.TextBox("Email", null, new { @class = "form-control", @Type = "EmailAddress" })
                                @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="Phone">Phone</label>
                                @Html.TextBox("Phone", null, new { @class = "form-control", @Type = "Phone" })
                                @Html.ValidationMessageFor(m => m.phone, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="Username">Username</label>
                                @Html.TextBox("Username", null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Gender</label>
                                <div class="form-check">
                                    @Html.RadioButton("Gender", "Male", false, new { id = "male", @class = "form-check-input" })
                                    <label class="form-check-label" for="male">Male</label>
                                </div>
                                <div class="form-check">
                                    @Html.RadioButton("Gender", "Female", true, new { id = "female", @class = "form-check-input" })
                                    <label class="form-check-label" for="female">Female</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                        </form>
                       
                        @TempData["Msg"]
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>
}