@model Mid_Project.Models.Trip

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BusTrip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.start_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.start_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.end_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.end_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.bus_Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bus_Number)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.trip_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
