@model IEnumerable<Mid_Project.Models.Buss>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Index" asp-controller="Admin">Back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.captin_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.number_of_seats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.captin_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.number_of_seats)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.bus_Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.bus_Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.bus_Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
